<!DOCTYPE html>
<html>
{% extends "blog/base.html" %}
{% load i18n %}

{% block title %}{% trans "Сброс пароля" %}{% endblock %}

{% block content %}
  <h1>{% trans "Сброс пароля" %}</h1>
  {% if validlink %}
    <p>{% trans "Пожалуйста, введите ваш новый пароль дважды:" %}</p>
    <form action="." method="post">
      {{ form.as_p }}
      {% csrf_token %}
      <p><input type="submit" value="{% trans "Изменить мой пароль" %}" /></p>
    </form>
  {% else %}
    <p>{% trans "Ссылка для сброса пароля недопустима, возможно она уже была использована. Пожалуйста, запросите сброс пароля заново." %}</p>
  {% endif %}
{% endblock %}
</html>
