django~=3.0.5
asgiref~=3.3.4
django_summernote~=0.8.11.6
pip~=21.0.1
pytz~=2019.3
setuptools~=54.1.1
sqlparse~=0.3.1
psycopg2~=2.8.6
pillow~=8.1.2
django-rosetta~=0.9.6
django-modeltranslation~=0.17.1
coverage~=7.2.7