<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link href="{% static "css/blog.css" %}" rel="stylesheet">
{#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">#}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    {% if messages %}
        <ul class="messages">
          {% for message in messages %}
            <li class="{{ message.tags }} alert alert-info alert-dismissable">
                {{ message|safe }}
                <a href="#" type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</a>
            </li>
          {% endfor %}
        </ul>
    {% endif %}
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    <div id="sidebar">
        <h2>
            <a href="http://127.0.0.1:8000/blog/">Блог о банках РБ</a>
        </h2>
            <p>В этом блоге будет публиковаться информация о белорусских банках:
                сравнение услуг, комиссий, эксклюзивных предложений.</p>
            <a href="http://127.0.0.1:8000/blog/search/">Поиск</a>
        <br><br>
        <span class="user">
            {% if request.user.is_authenticated %}
                Привет, <a href="{% url "blog:account" %}">{{ request.user.first_name }}.</a>
                <a href="{% url "blog:logout" %}">&nbsp;&nbsp;&nbsp;Выйти из аккаунта</a>
            {% else %}
                <a href="{% url "blog:login" %}">Аутентификация</a>
            {% endif %}
        </span>
    </div>
</body>
</html>
