<!DOCTYPE html>
<html>
{% extends "blog/base.html" %}
{% load i18n %}

{% block title %}{% trans "Блог о банках РБ" %} - {{ post.title }}{% endblock %}

{% block content %}
    <h1>{{ post.title }}</h1>
    <p class="date">{{ post.author }} {% trans "опубликовал" %} {{ post.publish }}</p>
    <p>
        {{ post.body|safe|linebreaks }}
    </p>
    <br>
    <p>
        <a href="{% url "blog:post_share" post.id %}">{% trans "Поделиться постом" %}</a>
    </p>

    <h3>
        {% blocktrans trimmed count total_comments=comments.count %}
            {{ total_comments }} comment
        {% plural %}
            {{ total_comments }} comments
        {% endblocktrans %}
    </h3>
    {% for comment in comments %}
        <div class="comment">
            <p class="info">
                {% trans "Комментарий" %} {{ forloop.counter }} {% trans "добавил" %} {{ comment.name }}
                {{ comment.created }}
            </p>
            {{ comment.body|linebreaks }}
        </div>
    {% endfor %}
    {% if new_comment %}
        <h3>{% trans "Ваш комментарий был добавлен." %}</h3>
    {% endif %}
        <h3>{% trans "Добавить комментарий" %}</h3>
        <form action="." method="post">
          {{ comment_form.as_p }}
          {% csrf_token %}
          <p><input type="submit" value={% trans "Добавить комментарий" %}></p>
        </form>

{% endblock %}
</html>
