<!DOCTYPE html>
<html>
{% extends "blog/base.html" %}
{% load i18n %}
{% block title %}{% trans "Блог о банках РБ" %}{% endblock %}
{% block content %}
    <h1>{% trans "Блог о банках РБ" %}</h1>
    {% for post in posts %}
        <h2>
            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
        </h2>
        <p class="date">{{ post.author }} {% trans "опубликовал" %} {{ post.publish }}</p>
        {{ post.body|safe|linebreaks|truncatewords_html:30 }}
    {% endfor %}
    {% include "blog/pagination.html" with page=page_obj %}
{% endblock %}
</html>
