<!DOCTYPE html>
<html>
{% extends "blog/base.html" %}
{% load i18n %}

{% block title %}{% trans "Поделиться постом" %}{% endblock %}
{% block content %}
    {% if sent %}
        <h1>{% trans "E-mail успешно отправлен" %}</h1>
        <p>
        "{{ post.title }}" {% trans "было успешно отправлено" %} {{ form.cleaned_data.to }}.
        </p>
    {% else %}
        <h1>{% trans "Поделиться"%} "{{ post.title }}" {% trans "по e-mail" %}</h1>
        <form action="." method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="submit" value="{% trans "Отправить e-mail" %}">
        </form>
    {% endif %}
{% endblock %}
</html>
